<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JPEEW Update</title>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin:0; padding:0;">
    <tr>
        <td style="width:100%;">
            <!-- 容器 -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="background-color:#ea5e77; padding:20px; text-align: center; font-size:20px; color:#fff;">
                        紧急地震速报
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px; background-color: #3475cf; font-size: large; color: white">
                        {{if .IsFinal}}<p style="color: red">**本报为最终报**</p>{{end}}
                        {{if .IsCancel}}<p style="color: lime">**紧急地震速报已取消**</p>{{end}}
                        {{if .IsTraining}}<p style="color: lime">**训练用**</p>{{end}}
                        <p>第{{.ReportNum}}报</p>
                        <p>速报类型: {{.AlertFlg}}</p>
                        <p>推测震中: {{.RegionName}}({{.Latitude}}/{{.Longitude}})</p>
                        <p>推测最大震度: {{.CalcIntensity}}</p>
                        <p>推测规模: {{.Magnitude}}</p>
                        <p>推测震源深度: {{.Depth}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>